extends layouts/main
include mixins/movieBlock

block content
    .movie
        each item in movies
            +movieBlock({
                title: item.title,
                rating: item.rating
            })