extends templates/layout

block content
    form(action="/read", method="post", enctype="multipart/form-data")
        input(type="file", id="file", name="textFile", required=true)
        input(type="submit", value="Upload")