extends layouts/main.pug

block content
   .movie__detail
        h1=detail.title
        h4=detail.summary
        ul
            each item in detail.genres
                li
                    span=item
